<div class="animated-bot"
     [class.__loading]="state.loading"
     [class.__become-normal]="state.normal"
     [class.__become-angry]="state.angry"
     [class.__open-eye]="state.open"
     [class.__close-eye]="state.close"
     [class.__moving-pupil]="state.pupil"
     [class.__moving-antenns]="state.antenns">
  <div class="bot-head">
    <div class="bot-eye"></div>
    <div class="bot-mouth"></div>
    <div class="bot-left-ear">
      <div class="antenna-left"></div>
    </div>
    <div class="bot-right-ear">
      <div class="antenna-right"></div>
    </div>
  </div>
</div>
